version: '3.8'
 
services:
  # Our Node.js application service
  app:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379
 
  # oficial Redis service
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
version: '3.8'
 